/基础设施层/DYong.Code/obj
/基础设施层/DYong.Code/bin
/数据库操作层/DYong.Data/obj
/数据库操作层/DYong.Data/bin
/数据库操作层/DYong.Data.Contract/obj
/数据库操作层/DYong.Data.Contract/bin
/数据库操作层/DYong.Data.EF/obj
/数据库操作层/DYong.Data.Repository/obj
/数据库操作层/DYong.Data.Repository/bin
/业务逻辑层/DYong.Business/obj
/业务逻辑层/DYong.Business/bin
/业务逻辑层/DYong.IService/obj
/业务逻辑层/DYong.IService/bin
/业务逻辑层/DYong.Service/obj
/业务逻辑层/DYong.Service/bin
/业务逻辑层/实体层/DYong.Entity/obj
/业务逻辑层/实体层/DYong.Entity/bin
/业务逻辑层/实体层/DYong.Mapping/obj
/业务逻辑层/实体层/DYong.Mapping/bin
