<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    测试结果：<div id="div_test"></div>
</body>
</html>
<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script>
    var ApiUrl = "http://localhost:41349/";
    $(function () {
        $.ajax({
            type: "get",
            url: ApiUrl + "Api/UserApp/CheckLogin",
            data: { username: 'admin', password:'0000'},
            success: function (data,status) {
                if (status == "success") {
                    $("#div_test").html(JSON.stringify(data));
                }
            },
            error: function (e) {
                $("#div_test").html("Error");
            },
            complete: function () {

            }

        });
    });
</script>
